#agents
    padding: 48px 0
    margin: 0 auto
    .textbox
        h1
            font-size: 44px
            font-weight: 700
            color: #0E2E50
            margin-bottom: 30px
        p
            color: #666565
            font-size: 16px
            margin-bottom: 50px
            max-width: 560px
            line-height: 1.5
    .box
        border-radius: 5px
        position: relative
        box-shadow: 0 0 20px 5px #eeeeee
        .imgbox
            width: 300px
            img
                border-start-start-radius: 5px
                border-start-end-radius: 5px
        .textbox
            text-align: center

            margin-top: 16px
            padding: 24px 70px
            display: flex
            flex-wrap: wrap
            justify-content: center
            h4
                font-size: 20px
                font-weight: 600
                color: #0E2E50
                margin-bottom: 5px
            h6
                font-size: 14px
                color: #666565
            .icon
                position: absolute
                bottom: 84px
                width: 38px
                height: 38px
                background-color: #ffffff
                display: flex
                border-radius: 19px
                justify-content: center
                align-items: center
                box-shadow: 0 0 30px rgba(0, 0, 0, .15)
                transition: all 0.3s ease
                cursor: pointer
                i
                    color: #00B98E
                    cursor: pointer
            .facebook
                left: 85px
                &:hover
                    background-color: #00B98E
                    i
                        color: #ffffff
            .twitter
                left: 130px
                &:hover
                    background-color: #00B98E
                    i
                        color: #ffffff
            .instagram
                left: 175px
                &:hover
                    background-color: #00B98E
                    i
                        color: #ffffff
