#clients
    padding: 48px 0
    .textbox
        width: 600px
        h1
            font-size: 44px
            font-weight: 700
            color: #0E2E50
            margin-bottom: 30px
        p
            color: #666565
            font-size: 16px
            margin-bottom: 50px
            line-height: 1.5
