#listing
    padding: 48px 0
    .textbox
        padding: 0 10px
        h1
            font-size: 44px
            font-weight: 700
            color: #0E2E50
            margin-bottom: 5px
        p
            font-size: 16px
            line-height: 23px
            color: #646464
            margin: 20px 0 50px
    button
        margin: 50px 4px
        background-color: #ffffff
        color: #0E2E50
        font-family: 'Heebo', sans-serif
        border: 1px solid #00B98E
        border-radius: 5px
        padding: 10px 12px
        font-size: 16px
        transition: all 0.3s ease
        &:focus
            background-color: #00B98E
            color: #ffffff
            box-shadow: 0 0 10px 5px #7FDCC6
        &:hover
            background-color: #00B98E
            color: #ffffff
    .padding
        display: flex
        justify-content: flex-end
        align-items: flex-end
        padding-right: 9px
    .box
        box-shadow: 0 0 30px rgba(0, 0, 0, .08)
        margin: 12px
        .imgbox
            overflow: hidden
            transition: 0.3s
            position: relative
            img
                transition: all 0.3s ease
                cursor: pointer
            .type
                background-color: #00B98E
                color: #ffffff
                position: absolute
                z-index: 5
                top: 0
                margin: 1.5rem
                padding: 8px 15px
                border-radius: 5px
            .label
                background-color: #ffffff
                color: #00B98E
                position: absolute
                z-index: 5
                bottom: 0
                margin: 0 1.5rem
                padding: 8px 15px
                border-radius: 5px 5px 0 0
        .textbox
            padding: 24px
            h3
                font-size: 1.5rem
                font-weight: 700
                padding-bottom: 15px
                color: #00B98E
            h4
                font-size: 1.5rem
                font-weight: 600
                padding-bottom: 15px
                color: #0E2E50
            h5
                font-size: 16px
                padding-left: 5px
                color: #666565
            .icon
                display: flex
                i
                    color: #00B98E
        &:hover
            img
                transform: scale(1.1)
        .infobox
            display: flex
            justify-content: space-between
            align-items: center
            background: #ffffff
            border-top: 1px dashed #B2EADD
            border-radius: 0 0 8px 8px
            .info
                flex: 1
                text-align: center
                margin: 10px 0
                border-right: 1px dashed #B2EADD
                display: flex
                justify-content: center
                align-items: center
                gap: 8px
                font-size: 14px
                color: #666565
                font-weight: 500
                i
                    color: #00B98E
                &:last-child
                    border-right: none
    .browse
        margin: 15px
        background-color: #00B98E
        color: #ffffff
        font-family: 'Heebo', sans-serif
        border-radius: 5px
        padding: 19px 48px
        font-size: 16px
        transition: all 0.3s ease
        &:focus
            box-shadow: 0 0 10px 5px #7FDCC6
        &:hover
            background-color: #06d3a3
    @media( max-width: 991.9px )
        .padding
            justify-content: flex-start
        