@charset "UTF-8";
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

.height {
  height: 636px;
}

.col-md-6, .col-md-12 {
  padding: 0;
}

.col-md-3 {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  z-index: 999;
}
header .navbar {
  padding: 0 25px;
  width: 100%;
  max-width: 1265px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.082);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 44px;
  left: 50%;
  transform: translateX(-50%) scale(0.96);
  transition: 0.3s;
}
header .navbar.scroll {
  max-width: 1320px;
  top: 0;
  transform: translateX(-50%);
}
header .imgbox {
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: #ffffff;
}
header .imgbox img {
  margin: 5px;
  padding: 5px;
  border: 1px dashed #40b571;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .imgbox h1 {
  padding: 18px 0;
  font-size: 40px;
  font-weight: 700;
  color: #00B98E;
}
header .menu {
  display: none;
  padding: 7px 15px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  transition: 0.5s;
}
header .menu i {
  font-size: 25px;
  font-weight: 0;
  color: #737373;
}
header .menu:focus {
  border: 5px solid #E5E5E5;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  font-size: 16px;
  color: #0E2E50;
  padding: 32px 0;
  margin-right: 35px;
  text-decoration: none;
  transition: color 0.3s ease;
}
header nav a:hover {
  color: #00B98E;
}
header nav button {
  width: 125px;
  background-color: #00b98e;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
header nav button:focus {
  box-shadow: 0 0 10px 5px #7FDCC6;
  outline: none;
}
header nav button:hover {
  background-color: #06d3a3;
}
@media (max-width: 991.9px) {
  header {
    position: sticky;
    top: 0;
  }
  header .navbar {
    top: 0;
    transform: none;
    position: sticky;
  }
  header .navbar.scroll {
    transform: none;
  }
  header nav {
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    align-items: flex-start;
    padding: 5px 20px 0;
    transition: 0.5s;
  }
  header nav a {
    padding: 10px;
  }
  header nav button {
    display: none;
  }
  header nav.menu-toggle {
    margin-top: -150%;
  }
  header .menu {
    display: block;
  }
}

#home .textbox {
  max-width: 560px;
}
#home .textbox h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 25px;
  line-height: 1.2;
}
#home .textbox span {
  color: #00B98E;
}
#home .textbox p {
  color: #666565;
  font-size: 16px;
  max-width: 560px;
  line-height: 1.5;
}
#home .textbox button {
  background-color: #00b98e;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 34px;
  font-weight: 500;
  font-size: 16px;
  padding: 21px 47px;
}
#home .textbox button:focus {
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#home .textbox button:hover {
  background-color: #06d3a3;
}
#home .box {
  padding: 35px;
  margin-bottom: 48px;
  background-color: #00b98e;
}
#home .box input {
  width: 334px;
  height: 56px;
}
#home .box select {
  width: 334px;
  border: none;
  color: #757575;
  border-radius: 5px;
  color: #666565;
}
#home .box button {
  background-color: #0E2E50;
  color: #ffffff;
  border: none;
  padding: 20px 73px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#home .box button:focus {
  box-shadow: 0 0 10px 5px #6b8bac;
}
#home .box button:hover {
  background-color: #092849;
}
@media (max-width: 1399.9px) {
  #home .box input {
    width: 300px;
  }
  #home .box select {
    width: 250px;
    padding-left: 5px;
  }
}
@media (max-width: 1199.9px) {
  #home .box input {
    width: 230px;
  }
  #home .box select {
    width: 230px;
  }
  #home .box button {
    padding: 20px 50px;
  }
}
@media (max-width: 991.9px) {
  #home .textbox h1 {
    font-size: calc(1.425rem + 2.1vw);
  }
  #home .box input {
    width: 150px;
  }
  #home .box select {
    width: 150px;
  }
}
@media (max-width: 767.9px) {
  #home .img {
    order: -1;
  }
  #home .textbox {
    padding: 48px;
  }
  #home .box {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #home .box input {
    width: 100%;
  }
  #home .box select {
    width: 100%;
    height: 56px;
  }
  #home .box button {
    width: 100%;
  }
}

#types {
  padding: 48px 0;
}
#types .textbox {
  margin-bottom: 25px;
  text-align: center;
  max-width: 600px;
}
#types .textbox h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0E2E50;
  margin-bottom: 20px;
}
#types .textbox p {
  color: #666565;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
#types .box {
  margin: 25px 12px;
  border-radius: 8px;
}
#types .box:hover {
  cursor: pointer;
}
#types .box .minibox {
  padding: 24px;
  background-color: #ffffff;
  border: 1px dashed #b8e0c9;
  box-shadow: 0 0 0 15px #EFFDF5;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
}
#types .box .minibox h3 {
  font-size: 16px;
  color: #0E2E50;
  font-weight: 700;
  transition: all 0.3s ease;
}
#types .box .minibox h5 {
  font-size: 16px;
  color: #00B68C;
  margin-top: 10px;
  transition: all 0.3s ease;
}
#types .box .minibox .imgbox {
  background-color: #ffffff;
  margin: 0 auto 15px;
  width: 80px;
  padding: 15px;
  border: 1px dashed #8cb99f;
  border-radius: 40px;
}
#types .box:hover .minibox {
  cursor: pointer;
  background-color: #00B98E;
}
#types .box:hover .minibox h3, #types .box:hover .minibox h5 {
  cursor: pointer;
  color: #ffffff;
}
#types .box:hover .minibox .imgbox {
  cursor: pointer;
}
#types .box:hover .minibox .imgbox img {
  cursor: pointer;
}
@media (max-width: 991.9px) {
  #types .textbox h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
@media (max-width: 575.9px) {
  #types .box {
    margin: 25px;
    display: flex;
    justify-content: center;
  }
  #types .box .minibox {
    width: 445px;
  }
}

#placetofind {
  padding: 48px 0;
}
#placetofind .imgbox {
  padding: 22px;
}
#placetofind .textbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#placetofind .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: #0E2E50;
}
#placetofind .textbox p {
  font-size: 16px;
  line-height: 23px;
  color: #646464;
  margin: 25px 0;
}
#placetofind .ticked h4 {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: #555;
  padding-left: 28px;
  margin-bottom: 10px;
}
#placetofind .ticked h4::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #00B98E;
  font-weight: bold;
}
#placetofind .readmore {
  margin-top: 20px;
  padding: 19px 45px;
  font-size: 15px;
  color: #fff;
  background-color: #00B98E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#placetofind .readmore:focus {
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#placetofind .readmore:hover {
  background-color: #00c798;
}
@media (max-width: 991.9px) {
  #placetofind .textbox h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

#listing {
  padding: 48px 0;
}
#listing .textbox {
  padding: 0 10px;
}
#listing .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 5px;
}
#listing .textbox p {
  font-size: 16px;
  line-height: 23px;
  color: #646464;
  margin: 20px 0 50px;
}
#listing button {
  margin: 50px 4px;
  background-color: #ffffff;
  color: #0E2E50;
  font-family: "Heebo", sans-serif;
  border: 1px solid #00B98E;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 16px;
  transition: all 0.3s ease;
}
#listing button:focus {
  background-color: #00B98E;
  color: #ffffff;
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#listing button:hover {
  background-color: #00B98E;
  color: #ffffff;
}
#listing .padding {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 9px;
}
#listing .box {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin: 12px;
}
#listing .box .imgbox {
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}
#listing .box .imgbox img {
  transition: all 0.3s ease;
  cursor: pointer;
}
#listing .box .imgbox .type {
  background-color: #00B98E;
  color: #ffffff;
  position: absolute;
  z-index: 5;
  top: 0;
  margin: 1.5rem;
  padding: 8px 15px;
  border-radius: 5px;
}
#listing .box .imgbox .label {
  background-color: #ffffff;
  color: #00B98E;
  position: absolute;
  z-index: 5;
  bottom: 0;
  margin: 0 1.5rem;
  padding: 8px 15px;
  border-radius: 5px 5px 0 0;
}
#listing .box .textbox {
  padding: 24px;
}
#listing .box .textbox h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 15px;
  color: #00B98E;
}
#listing .box .textbox h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 15px;
  color: #0E2E50;
}
#listing .box .textbox h5 {
  font-size: 16px;
  padding-left: 5px;
  color: #666565;
}
#listing .box .textbox .icon {
  display: flex;
}
#listing .box .textbox .icon i {
  color: #00B98E;
}
#listing .box:hover img {
  transform: scale(1.1);
}
#listing .box .infobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-top: 1px dashed #B2EADD;
  border-radius: 0 0 8px 8px;
}
#listing .box .infobox .info {
  flex: 1;
  text-align: center;
  margin: 10px 0;
  border-right: 1px dashed #B2EADD;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #666565;
  font-weight: 500;
}
#listing .box .infobox .info i {
  color: #00B98E;
}
#listing .box .infobox .info:last-child {
  border-right: none;
}
#listing .browse {
  margin: 15px;
  background-color: #00B98E;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  border-radius: 5px;
  padding: 19px 48px;
  font-size: 16px;
  transition: all 0.3s ease;
}
#listing .browse:focus {
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#listing .browse:hover {
  background-color: #06d3a3;
}
@media (max-width: 991.9px) {
  #listing .padding {
    justify-content: flex-start;
  }
}

#contact {
  padding: 48px 0;
}
#contact .imgbox img {
  border-radius: 6px;
}
#contact .textbox {
  width: 570px;
}
#contact .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.1;
  color: #0E2E50;
}
#contact .textbox p {
  font-size: 16px;
  line-height: 23px;
  color: #646464;
  margin: 25px 0;
}
#contact .textbox button {
  border: none;
  color: #ffffff;
}
#contact .textbox i {
  margin-right: 7px;
}
#contact .textbox .green {
  background-color: #00B98E;
  padding: 20px 27px;
  border-radius: 5px;
}
#contact .textbox .green:focus {
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#contact .textbox .green:hover {
  background-color: #06d3a3;
}
#contact .textbox .blue {
  margin-left: 7px;
  background-color: #0E2E50;
  padding: 20px 24px;
  border-radius: 5px;
}
#contact .textbox .blue:focus {
  box-shadow: 0 0 10px 5px #6b8bac;
}
#contact .textbox .blue:hover {
  background-color: #092849;
}
@media (max-width: 991.9px) {
  #contact .textbox {
    margin-top: 48px;
  }
  #contact .textbox h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
@media (max-width: 384.9px) {
  #contact .textbox .blue {
    margin-left: 0;
  }
}

#agents {
  padding: 48px 0;
  margin: 0 auto;
}
#agents .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 30px;
}
#agents .textbox p {
  color: #666565;
  font-size: 16px;
  margin-bottom: 50px;
  max-width: 560px;
  line-height: 1.5;
}
#agents .box {
  margin: 20px 15px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 20px 5px #eeeeee;
}
#agents .box .imgbox img {
  border-radius: 5px 5px 0 0;
}
#agents .box .textbox {
  text-align: center;
  padding: 24px;
  margin-top: 16px;
}
#agents .box .textbox h4 {
  font-size: 20px;
  font-weight: 600;
  color: #0E2E50;
  margin-bottom: 5px;
}
#agents .box .textbox h6 {
  font-size: 14px;
  color: #666565;
}
#agents .box .icons {
  position: absolute;
  left: 50%;
  bottom: 84px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#agents .box .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
}
#agents .box .icons .icon i {
  gap: 1rem;
  color: #00B98E;
  cursor: pointer;
}
#agents .box .icons .facebook:hover {
  background-color: #00B98E;
}
#agents .box .icons .facebook:hover i {
  color: #ffffff;
}
#agents .box .icons .twitter:hover {
  background-color: #00B98E;
}
#agents .box .icons .twitter:hover i {
  color: #ffffff;
}
#agents .box .icons .instagram:hover {
  background-color: #00B98E;
}
#agents .box .icons .instagram:hover i {
  color: #ffffff;
}
@media (max-width: 991.9px) {
  #agents .textbox h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

#clients {
  padding: 48px 0;
}
#clients .textbox {
  width: 600px;
}
#clients .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 30px;
}
#clients .textbox p {
  color: #666565;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.5;
}

#footer {
  background-color: #0E2E50;
}
#footer .row {
  padding: 100px 0 60px 0;
}
#footer h3 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
#footer .textbox h4 {
  margin-bottom: 15px;
  color: #8797A8;
  transition: 0.3s;
}
#footer .textbox p {
  width: 280px;
  color: #8797A8;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.5;
}
#footer .textbox .link {
  font-size: 15px;
}
#footer .textbox .link:hover {
  letter-spacing: 2px;
}
#footer .textbox .icon {
  margin-bottom: 3px;
  color: #8797A8;
}
#footer .textbox .icon h4 {
  margin-left: 20px;
}
#footer .textbox .inputbox {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  height: 55px;
  border: 1px solid #8797A8;
  transition: 0.3s;
}
#footer .textbox .inputbox input {
  position: absolute;
  background-color: #0E2E50;
  left: 10px;
  color: #ffffff;
}
#footer .textbox .inputbox button {
  position: absolute;
  width: 100px;
  height: 43px;
  right: 5px;
  top: 5px;
  border: none;
  border-radius: 10px;
  background-color: #00B98E;
  color: #ffffff;
  transition: 0.3a;
}
#footer .textbox .inputbox button:hover {
  box-shadow: 0 1px 5px 2px rgba(82, 150, 133, 0.9294117647);
}
#footer .textbox .inputbox:hover {
  box-shadow: 0 0 10px 5px rgba(127, 220, 198, 0.5019607843);
}
#footer .textbox .socials {
  padding-top: 3px;
}
#footer .textbox .socials .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  padding: 9px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 20px;
  transition: 0.3s;
}
#footer .textbox .socials .t:hover, #footer .textbox .socials .f:hover, #footer .textbox .socials .y:hover, #footer .textbox .socials .in:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #00B98E;
}
#footer .textbox .socials .t:hover i, #footer .textbox .socials .f:hover i, #footer .textbox .socials .y:hover i, #footer .textbox .socials .in:hover i {
  cursor: pointer;
}
#footer .wid {
  width: 250px;
}
#footer .box {
  display: flex;
  flex-wrap: wrap;
}
#footer .box h3 {
  width: 280px;
}
#footer .box .img {
  margin-left: 8px;
}
#footer .box .img img {
  width: 90px;
  border: 5px solid #ffffff;
  border-radius: 10px;
}
#footer .brdr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#footer .txt {
  display: flex;
  padding: 30px;
}
#footer .txt a {
  text-decoration: underline;
}
#footer .txt a:hover {
  cursor: pointer;
}
#footer .txt h6 {
  color: #ffffff;
  line-height: 1.2;
}
#footer nav {
  margin: 30px 0 0;
}
#footer nav a {
  padding-right: 25px;
}
@media (max-width: 767.9px) {
  #footer .textbox {
    margin: 50px 0 0 20px;
  }
  #footer .box {
    margin: 50px 0 0 20px;
    display: flex;
  }
  #footer .box h3 {
    width: 100%;
  }
  #footer .box .img img {
    width: 150px;
  }
  #footer .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

#pagenotfound .textbox {
  width: 630px;
}
#pagenotfound .textbox i {
  font-size: 90px;
  color: #00B98E;
}
#pagenotfound .textbox h2 {
  font-size: 80px;
  font-weight: 700;
  color: #0E2E50;
  margin: 15px 0;
}
#pagenotfound .textbox h4 {
  font-size: 40px;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 25px;
}
#pagenotfound .textbox h5 {
  font-size: 16px;
  line-height: 23px;
  color: #646464;
}
#pagenotfound .textbox button {
  background-color: #00b98e;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 34px 0 50px;
  font-weight: 500;
  font-size: 16px;
  padding: 21px 47px;
}
#pagenotfound .textbox button:focus {
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#pagenotfound .textbox button:hover {
  background-color: #06d3a3;
}/*# sourceMappingURL=style.css.map */