@charset "UTF-8";
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

.height {
  height: 636px;
}

.col-md-6, .col-md-12 {
  padding: 0;
}

.col-md-3 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header {
  z-index: 10;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.082);
  position: fixed;
  top: 41px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  margin: 41px 0;
  padding: 18px;
  background-color: #ffffff;
}
header h1 {
  font-size: 40px;
  font-weight: 700;
  color: #00B98E;
}
header .imgbox {
  margin-right: 10px;
  background-color: #ffffff;
  width: 40px;
  padding: 5px;
  border: 1px dashed #40b571;
  border-radius: 20px;
}
header .imgbox img {
  width: 30px;
}
header nav {
  display: flex;
  margin-left: 387px;
  align-items: center;
}
header nav a {
  margin-right: 36px;
  color: #36506d;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  font-weight: 550;
}
header nav button {
  width: 125px;
  background-color: #00b98e;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  transition: all 0.3s ease;
}
header .full {
  top: 0;
  left: 0;
  transform: none;
  width: 100%;
  border-radius: 0;
}

#home .textbox {
  padding: 66px 0 0 47px;
}
#home .textbox h1 {
  font-size: 48px;
  font-weight: bold;
  color: #0E2E50;
  margin-bottom: 25px;
  line-height: 1.2;
}
#home .textbox span {
  color: #00B98E;
}
#home .textbox p {
  color: #666565;
  font-size: 16px;
  max-width: 560px;
  line-height: 1.5;
}
#home .textbox button {
  background-color: #00b98e;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 34px;
  font-weight: 500;
  font-size: 16px;
  padding: 21px 47px;
}
#home .imgbox {
  padding: 0;
}
#home .box {
  margin-top: 24px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #00B98E;
  width: 100%;
  height: 125px;
}
#home .box input {
  padding: 19px 127px 19px 15px;
}
#home .box select {
  border: none;
  padding: 18px 209px 19px 10px;
  border-radius: 5px;
  color: #666565;
}
#home .box button {
  background-color: #0E2E50;
  color: #fff;
  border: none;
  padding: 20px 73px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

#types {
  margin: 105px auto;
}
#types .textbox {
  margin-bottom: 25px;
  text-align: center;
  max-width: 600px;
}
#types .textbox h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0E2E50;
  margin-bottom: 20px;
}
#types .textbox p {
  color: #666565;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
#types .box {
  margin-top: 25px;
  width: 300px;
  height: 225px;
  background-color: #EFFDF5;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#types .box:hover {
  cursor: pointer;
}
#types .box .minibox {
  padding: 25px;
  width: 265px;
  height: 190px;
  background-color: #ffffff;
  border: 1px dashed #b8e0c9;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
}
#types .box .minibox h3 {
  font-size: 16px;
  color: #0E2E50;
  font-weight: 700;
  transition: all 0.3s ease;
}
#types .box .minibox h5 {
  font-size: 16px;
  color: #00B68C;
  margin-top: 10px;
  transition: all 0.3s ease;
}
#types .box .minibox .imgbox {
  background-color: #ffffff;
  margin: 0 auto 15px;
  width: 80px;
  padding: 15px;
  border: 1px dashed #8cb99f;
  border-radius: 40px;
}
#types .box:hover .minibox {
  cursor: pointer;
  background-color: #00B98E;
}
#types .box:hover .minibox h3, #types .box:hover .minibox h5 {
  cursor: pointer;
  color: #ffffff;
}
#types .box:hover .minibox .imgbox {
  cursor: pointer;
}
#types .box:hover .minibox .imgbox img {
  cursor: pointer;
}

#placetofind .imgbox {
  padding-left: 22px;
  width: 560px;
  height: 560px;
}
#placetofind .textbox {
  width: 600px;
  margin-top: 85px;
}
#placetofind .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: #0E2E50;
}
#placetofind .textbox p {
  font-size: 16px;
  line-height: 23px;
  color: #646464;
  margin: 25px 0;
}
#placetofind .textbox h4 {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: #555;
  padding-left: 28px;
  margin-bottom: 10px;
}
#placetofind .textbox h4::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #00B98E;
  font-weight: bold;
}
#placetofind .textbox .readmore {
  margin-top: 20px;
  padding: 19px 45px;
  font-size: 15px;
  color: #fff;
  background-color: #00B98E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#placetofind .textbox .readmore:hover {
  background-color: #009f7a;
}

#listing {
  padding: 105px 0;
}
#listing .textbox {
  padding: 0 22px;
}
#listing .textbox h1 {
  font-size: 44px;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 5px;
}
#listing .textbox p {
  font-size: 16px;
  line-height: 23px;
  color: #646464;
  margin: 20px 0 50px;
}
#listing button {
  margin: 50px 4px;
  background-color: #ffffff;
  color: #0E2E50;
  font-family: "Heebo", sans-serif;
  border: 1px solid #00B98E;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 16px;
  transition: all 0.3s ease;
}
#listing button:focus {
  background-color: #00B98E;
  color: #ffffff;
  box-shadow: 0 0 10px 5px #7FDCC6;
}
#listing button:hover {
  background-color: #00B98E;
  color: #ffffff;
}
#listing .box {
  position: relative;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 20px 5px #eeeeee;
}
#listing .box:hover .imgbox {
  transform: scale(1.1);
}
#listing .box .imgbox {
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}
#listing .box .imgbox img {
  -o-object-fit: cover;
     object-fit: cover;
}
#listing .box .textbox {
  margin: 30px 0;
  font-family: "Inter", sans-serif;
}
#listing .box .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #00B98E;
  margin-bottom: 20px;
}
#listing .box .textbox h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0E2E50;
  margin-bottom: 15px;
}
#listing .box .textbox h3:hover {
  cursor: pointer;
  color: #009472;
}
#listing .box .textbox h5 {
  font-size: 16px;
  margin-left: 7px;
}
#listing .box .textbox .icon {
  display: flex;
}
#listing .box .textbox .icon i {
  color: #00B98E;
}
#listing .box .minibox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #72e3a2;
  height: 35px;
  font-size: 14px;
}
#listing .box .minibox i {
  color: #00B98E;
}
#listing .box .minibox h4 {
  margin-left: 7px;
  color: #646464;
}
#listing .box .first {
  width: 151px;
}
#listing .box .second {
  width: 132px;
}
#listing .box .third {
  width: 132px;
}
#listing .box .text {
  position: absolute;
  z-index: inherit;
  background-color: #00B98E;
  border-radius: 7px;
  padding: 10px 15px;
  color: #ffffff;
  top: 25px;
  left: 25px;
}
#listing .browse {
  margin: 0;
  background-color: #00B98E;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  border-radius: 5px;
  padding: 19px 48px;
  font-size: 16px;
  transition: all 0.3s ease;
}/*# sourceMappingURL=style.css.map */